{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}

{% block body %}
    <form action="{% url 'tarefas:adicionar' %}" method="POST">
        {% csrf_token %}
        <div class="form-wrap">
        <!-- <label for="nome_tarefa">Título da tarefa</label>
        <input type="text" name="nome_tarefa" id="nome_tarefa">
        <label for="descricao_tarefa">Descrição</label>
        <input type="text" name="descricao_tarefa" id="descricao_tarefa">
        <label for="concluida_tarefa">Concluída?</label>
        <input type="checkbox" name="concluida_tarefa" id="concluida_tarefa" value="True"> -->
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success btn-lg">Salvar tarefa</button>
        </div>
    </form>
{% endblock %}