{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container-fluid col-6 my-5 mx-auto form-wrap">
{% if lista %}
    <h1>Tarefas:</h1>
    <ul>
        {% for item in lista %}
            <li>Tarefa: {{ item.nome }}</li>
            <li>Descrição: {{ item.descricao }}</li>
            <li>Está feita? {% if item.realizada %} Sim {% else %} Não {% endif %}</li>
            <a href="{% url 'tarefas:editar' id_item=item.id %}" class="btn btn-secondary">Editar</a>
            <form action="{% url 'tarefas:deletar_tarefa' id_item=item.id %}" method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <h1>Parabéns</h1>
    <h2>Não há nenhuma tarefa cadastrada</h2>
{% endif %}
</div>
{% endblock %}