{% extends 'layout.html' %}
{% load static %}
{% load bootstrap %}



{% block body %}
    <form action="{% url 'usuario:cadastrar_usuario' %}" method="POST">{% csrf_token %}
        <div class="form-wrap">
        <div class="form-group">
            {{ form|bootstrap }}
            {% if form.non_field_errors %}
                <p>{{ login.non_field_errors }}</p>
            {% endif %}
            <button class="btn btn-success btn-lg" type="submit">Enviar</button>
        </div>
        </div>
    </form>
{% endblock %}