{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div id="slides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/background.png' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
              <h1 class="display-2">Projeto Django</h1>
            <h3>Cadatro de usuários, login, criação, visualização e exclusão de tarefas para cada usuário </h3>
            <a class="btn btn-outline-light btn-lg" href="{% url 'usuario:cadastrar_usuario' %}">CADASTRE-SE</a>
            <a class="btn btn-primary btn-lg" href="{% url 'usuario:login_user' %}">Faça login</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid padding">
      <div class="row welcome text-center">
          <div class="col-12">
              <h1 class="display-4">Just some Cards</h1>
          </div>
      </div>
  </div>

<!--- Cards -->
  <div class="container-fluid padding">
      <div class="row padding">
          <div class="col-md-4">
              <div class="card">
                  <img src="{% static 'img/team1.png' %}" alt="" class="card-img-top">
                  <div class="card-body">
                      <h4 class="card-title">John Dee</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                      <a href="" class="btn btn-outline-secondary">See Profile</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <img src="{% static 'img/team2.png' %}" alt="" class="card-img-top">
                  <div class="card-body">
                      <h4 class="card-title">Mary Joe</h4>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      </p>
                      <a href="" class="btn btn-outline-secondary">See Profile</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <img src="{% static 'img/team3.png' %}" alt="" class="card-img-top">
                  <div class="card-body">
                      <h4 class="card-title">Phill Hoe</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      <a href="" class="btn btn-outline-secondary">See Profile</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h2>Our Philosophy</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti dolorum nihil provident ad laborum atque porro dolore dignissimos, 
               veniam corporis vero asperiores nobis est voluptas in minima maiores? Maiores, placeat.
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Corrupti dolorum nihil provident ad laborum atque porro dolore dignissimos, 
                veniam corporis vero asperiores nobis est voluptas in minima maiores? Maiores, placeat.</p>
            <br>
            <a href="#" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/bootstrap2.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>
<hr class="my-4">

<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook h"></i></a>
            <a href="#"><i class="fab fa-twitter h"></i></a>
            <a href="#"><i class="fab fa-google-plus-g h"></i></a>
            <a href="#"><i class="fab fa-instagram h"></i></a>
            <a href="#"><i class="fab fa-youtube h"></i></a>
        </div>
    </div>
</div>
{% endblock %}