{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeuApp</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
        	<a href="{% url 'usuario:index' %}" class="navbar-brand">
				{% if not user.is_authenticated %}<h2>Início</h2> {% else %}<h2>{{user.username}}</h2> {% endif %}</a>
          	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">				
            	<span class="navbar-toggler-icon"></span>
          	</button>
          	<div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
				{% if not user.is_authenticated %}
				<li class="nav-item"><a class="nav-link" href="#">Sobre nós</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'usuario:cadastrar_usuario' %}">Cadastre-se!</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'usuario:login_user' %}">Login</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{% url 'tarefas:home' %}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'tarefas:adicionar' %}">Criar tarefa</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'usuario:logout_user' %}">Logout</a></li>
				{% endif %}
			</ul>
            </div>
        </div>
        </nav>
	</header>
	<main>
    {% block body %}
	{% endblock %}
	</main>
    <footer>
		<div class="container-fluid padding">
			<div class="row text-center">
				<div class="col-md-4">
					<img src="{% static 'img/w3newbie.png' %}" alt="">
					<hr class="light">
					<p>(49)99999-9999</p>
					<p>email@myemail.com</p>
					<p>rua tal, bairo tal, nº 000</p>
					<p>Lages-SC,88500-000</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Nossos horários</h5>
					<hr class="light">
					<p>Segunda à Sexta: 9:00 - 17:00</p>
					<p>Sábado: 10:00 - 16:00</p>
					<p>Domingo: fechado</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Lojas</h5>
					<hr class="light">
					<p>Cidade, Estado, 99000-000</p>
					<p>Cidade, Estado, 99000-000</p>
					<p>Cidade, Estado, 99000-000</p>
					<p>Cidade, Estado, 99000-000</p>
				</div>
				<div class="col-12">
					<hr class="light-100">
					<h5>&copy; neimar.com</h5>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'js/site.js' %}"></script>
</body>
</html>